<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
          <dt>Reviews</dt>
          <% if @product.reviews.length == 0 %>
            <dd><i>No reviews</i></dd>
          <% else %>
            <% @product.reviews.each do |r| %>
              <dd>
                <% r.rating.times do |star| %>
                  💚
                <% end %>
                <% (5 - r.rating).times do |square| %>
                  🖤
                <% end %>
                &nbsp;
                <%= r.description %> - <i><%= r.user.first_name %></i>
              </dd>
            <% end %>
          <% end %>
          <% if current_user %>
            <br>
            <dd><i>Add a review:<i></dd>
            <%= form_for([@product, @product.reviews.build]) do |f| %>
              <dd>
                <%= f.text_area :description %>
              </dd>
              <dd>
                <%= f.select(:rating) do %>
                  <% [['💚💚💚💚💚', 5], ['💚💚💚💚🖤', 4], ['💚💚💚🖤🖤', 3], ['💚💚🖤🖤🖤', 2], ['💚🖤🖤🖤🖤', 1]].each do |c| -%>
                    <%= content_tag(:option, c.first, value: c.last) %>
                  <% end %>
                <% end %>
                <%= f.submit "Submit" %>
              </dd>
            <% end %>
          <% end %>
        </dl>
      </div>
    </div>

  </article>

</section>
